@using BLL.DTO;
@model List<SchedulesDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<ul>
    @foreach (var schedules in Model)
    {
       <li>@schedules.Disciplines.DisciplineName, @schedules.TypeSchedule, @schedules.WorkerId</li>
    }
</ul>
