<!-- Модальное окно подтверждения выхода -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Подтвердите выход</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите выйти?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="confirmLogout">Выйти</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>               
            </div>
        </div>
    </div>
</div>

<script>
    // Обработка нажатия на кнопку "Выйти"
    document.getElementById('confirmLogout').addEventListener('click', function () {
        window.location.href = '/User/Logout'; // Перенаправление на URL метода Logout контроллера User
    });
</script>
